Repository ft-transcendence-project/42-transcendence, pull requests merged in 2024-12, with the labels that each got.

#67 gunicornをdaphnenに置き換え
  docker-compose.prod.yml
  docker-compose.yml
  nginx/default.conf
  web/core/settings.py
  web/entrypoint.sh
  web/gameplay/templates/gameplay/playpage.html
  web/requirements.txt
Labels: server

#74 [update] スマートコントラクトを実装
  .gitignore
  blockchain/docker-compose.blockchain.yml
  blockchain/truffle/Dockerfile
  blockchain/truffle/contracts/Tournament.sol
  blockchain/truffle/migrations/1_initial_migration.js
  blockchain/truffle/package-lock.json
  blockchain/truffle/package.json
  blockchain/truffle/test/Tournament.test.js
  blockchain/truffle/truffle-config.js
  docker-compose.yml
Labels: blockchain

#71 [add] LoginPageのフロントエンドを追加
  docker-compose.yml
  frontend/.gitignore
  frontend/app.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/views/components/Navbar.js
  frontend/views/pages/Home.js
  frontend/views/pages/Login.js
  package-lock.json
  web/accounts/views.py
  web/core/settings.py
  web/requirements.txt
Labels: frontend

#73 [update] ActionsのDocker起動時にwaitオプションを追加
  .github/workflows/docker-compose-web-prod-test.yml
  .github/workflows/docker-compose-web-test.yml
  .gitignore
  blockchain/blockchain.yml
  compose.prod.yaml
  compose.yaml
  docker-compose.prod.yml
  elk/elk-services.yml
  web/entrypoint.sh
  web/fixtures/users.json
Labels: test

#78 [add] 多言語サポートするようにしました
  frontend/index.html
  frontend/utils/i18n.js
  frontend/utils/locales/en.json
  frontend/utils/locales/ja.json
  frontend/views/components/Navbar.js
  frontend/views/pages/Home.js
  frontend/views/pages/Login.js
Labels: frontend

#84 [fix] frontend depends on backend
  backend/core/urls.py
  backend/core/views.py
  compose.yaml
Labels: settings, docker-compose

#89 [add] トーナメントおよび試合結果管理のDBスキーマ定義
  backend/matches/templates/matches/matches.html
  backend/tournament/migrations/0001_initial.py
  backend/tournament/migrations/0002_rename_torunament_match_tournament.py
  backend/tournament/migrations/0003_match_unique_match_number.py
  backend/tournament/models.py
  backend/tournament/tests.py
  blockchain/package.json
Labels: test, DB

#85 [update] frontendをnginxで配信するように
  compose.prod.yaml
  compose.yaml
  frontend/app-config.js
  frontend/index.html
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Login.js
  nginx/Dockerfile
  nginx/default.conf
Labels: server

#87 [implement] SSRを実装しました
  compose.prod.yaml
  compose.yaml
  frontend/app-config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Login.js
  nginx/default.conf
Labels: frontend, server

#96 [update] 中国語に対応、i18nextを使用
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/server.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/words.json
  frontend/utils/locales/ja/words.json
  frontend/utils/locales/zh/words.json
  frontend/views/components/Navbar.js
  frontend/views/pages/Home.js
  frontend/views/pages/Login.js
Labels: frontend

#91 [update] NginxにHTTPSを追加
  .env_template
  .github/workflows/docker-compose-web-prod-test.yml
  backend/accounts/tests.py
  backend/core/settings.py
  backend/entrypoint.sh
  backend/gameplay/test/test_login.py
  backend/homepage/tests.py
  backend/oauth/tests.py
  compose.prod.yaml
  compose.yaml
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Login.js
  nginx/Dockerfile
  nginx/default.conf
Labels: backend, server

#100 [update] Navbarレンダリングを最適化
  frontend/app.js
  frontend/views/components/Navbar.js
Labels: frontend

#106 Add OAuth login with 42
  .env_template
  backend/oauth/tests.py
  backend/oauth/views.py
  frontend/views/pages/Login.js
Labels: backend, accounts

#112 [add] SignUp Pageを追加
  frontend/app.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/login.json
  frontend/utils/locales/en/signup.json
  frontend/utils/locales/ja/login.json
  frontend/utils/locales/ja/signup.json
  frontend/utils/locales/zh/login.json
  frontend/utils/locales/zh/signup.json
  frontend/views/pages/Login.js
  frontend/views/pages/SignUp.js
  frontend/views/templates/Login.html
  frontend/views/templates/SignUp.html
Labels: frontend, accounts

#114 [add] JWT認証を追加
  backend/accounts/tests.py
  backend/accounts/utils/auth.py
  backend/accounts/views.py
  backend/core/settings.py
  backend/requirements.txt
Labels: frontend, backend

#117 [add] トーナメントページを作成
  frontend/app.js
  frontend/server.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/tournament.json
  frontend/utils/locales/ja/tournament.json
  frontend/utils/locales/zh/tournament.json
  frontend/views/pages/Tournament.js
  frontend/views/templates/Navbar.html
  frontend/views/templates/Tournament.html
Labels: frontend, tournament

#101 [add] Pythonスクリプトを使用して、スマートコントラクトと直接やり取りし、試合結果の記録・取得を行う機能を実装
  .gitignore
  backend/requirements.txt
  blockchain/blockchain.yml
  blockchain/truffle/Dockerfile
  blockchain/truffle/contracts/Tournament.sol
  blockchain/truffle/test/Tournament.test.js
  blockchain/web3_ganache_connect.py
  compose.yaml
Labels: blockchain

#123 [add] トーナメント登録APIの作成
  backend/homepage/tests.py
  backend/tournament/admin.py
  backend/tournament/migrations/0004_match_player1_match_player1_score_match_player2_and_more.py
  backend/tournament/models.py
  backend/tournament/serializers.py
  backend/tournament/tests.py
  backend/tournament/urls.py
  backend/tournament/views.py
  frontend/views/pages/Tournament.js
Labels: backend, tournament

#125 [add] Matches Pageの追加
  frontend/app.js
  frontend/index.html
  frontend/utils/i18n.js
  frontend/utils/locales/en/matches.json
  frontend/utils/locales/ja/matches.json
  frontend/utils/locales/zh/matches.json
  frontend/views/pages/Matches.js
  frontend/views/pages/Tournament.js
  frontend/views/styles/matches.css
  frontend/views/templates/Matches.html
Labels: frontend, tournament

#124 [add] ゲームカスタマイズオプション
  backend/entrypoint.sh
  backend/fixtures/defaultGameSetting.json
  backend/gameplay/PongLogic/consumers.py
  backend/gameplay/PongLogic/shared.py
  backend/gameplay/PongLogic/utils.py
  backend/gameplay/migrations/0001_initial.py
  backend/gameplay/migrations/__init__.py
  backend/gameplay/models.py
  backend/gameplay/routing.py
  backend/gameplay/serializers.py
  backend/gameplay/test/test_gamesetting.py
  backend/gameplay/urls.py
  backend/gameplay/views.py
  frontend/app.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/gamesetting.json
  frontend/utils/locales/ja/gamesetting.json
  frontend/utils/locales/zh/gamesetting.json
  frontend/views/pages/GameSetting.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Home.js
  frontend/views/templates/GameSetting.html
  frontend/views/templates/Gameplay.html
  frontend/views/templates/Home.html
  frontend/views/templates/Navbar.html
Labels: frontend, backend, game

#129 ganacheとtruffleのログから「Available Accounts」、「Private Keys」、「contract_address」のデータを自動で受け取れるようにしました
  .env_template
  .gitignore
  blockchain/blockchain.yml
  blockchain/truffle/migrations/2_deploy_tournament.js
  blockchain/web3_ganache_connect.py
Labels: backend, blockchain

#132 [update] ログインしたらナビバーの表示を変えるように
  frontend/app.js
  frontend/utils/locales/en/navbar.json
  frontend/utils/locales/ja/navbar.json
  frontend/utils/locales/zh/navbar.json
  frontend/views/pages/Login.js
  frontend/views/pages/Logout.js
  frontend/views/pages/SetupOtp.js
  frontend/views/templates/Logout.html
  frontend/views/templates/Navbar.html
Labels: frontend, accounts

#134 [add] OTPの認証ページを追加
  backend/accounts/serializers.py
  backend/accounts/tests.py
  backend/accounts/views.py
  backend/tournament/migrations/0005_alter_match_player1_alter_match_player2.py
  frontend/app.js
  frontend/views/pages/Login.js
  frontend/views/pages/SetupOtp.js
  frontend/views/pages/SignUp.js
  frontend/views/pages/VerifyOtp.js
  frontend/views/templates/VerifyOtp.html
Labels: frontend, backend, accounts

#139 [update] トーナメントを実装
  backend/gameplay/PongLogic/consumers.py
  frontend/app.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Matches.js
  frontend/views/pages/Tournament.js
  frontend/views/styles/matches.css
  frontend/views/templates/Gameplay.html
  frontend/views/templates/Matches.html
Labels: frontend, game, tournament

#145 [update] Oauth42を本番環境でも動くように修正
  .env.prod_template
  .github/workflows/docker-compose-web-prod-test.yml
  backend/core/settings.py
  backend/oauth/tests.py
  backend/oauth/views.py
  compose.prod.yaml
  frontend/views/pages/Login.js
Labels: backend, accounts

#148 [update] トーナメントのゲーム間で設定を共有できるように
  backend/tournament/migrations/0006_tournament_is_over.py
  backend/tournament/models.py
  backend/tournament/serializers.py
  frontend/app.js
  frontend/views/pages/GameSetting.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Matches.js
  frontend/views/pages/Tournament.js
  frontend/views/templates/Gameplay.html
  frontend/views/templates/Matches.html
  frontend/views/templates/Navbar.html
Labels: frontend, tournament

#150 [update] 複数クライアント対応
  backend/gameplay/PongLogic/consumers.py
  backend/gameplay/PongLogic/shared.py
Labels: backend, game

#144 sessionstorageで保存したデータをAPI経由で取ってこれるように修正
  backend/tournament/migrations/0006_tournament_is_over.py
  backend/tournament/models.py
  backend/tournament/serializers.py
  backend/tournament/tests.py
  backend/tournament/urls.py
  backend/tournament/views.py
  frontend/app.js
  frontend/views/pages/GameSetting.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Matches.js
  frontend/views/pages/Tournament.js
  frontend/views/templates/Gameplay.html
  frontend/views/templates/Matches.html
  frontend/views/templates/Navbar.html
Labels: frontend

#152 [update] トーナメントが最後まで進めるように
  backend/fixtures/finalMatch.json
  backend/fixtures/toFinalMatches.json
  backend/fixtures/toSemifinalMatches.json
  backend/tournament/migrations/0007_remove_match_unique_match_number_match_round_and_more.py
  backend/tournament/models.py
  backend/tournament/serializers.py
  backend/tournament/tests.py
  backend/tournament/views.py
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Matches.js
  frontend/views/templates/Matches.html
Labels: frontend, backend, tournament

#153 [update] mapBを作成しました。
  backend/gameplay/PongLogic/consumers.py
  backend/gameplay/PongLogic/pong_info.py
  backend/gameplay/PongLogic/utils.py
  frontend/views/pages/Gameplay.js
Labels: frontend, backend, game

#154 [update] ELKへの接続にHTTPSを使用
  elk/create_index_pattern.sh
  elk/elk-services.yml
Labels: settings, server, elk stack, security

#160 [update] トーナメント終了時にWinnerPageへ飛べるように
  backend/tournament/migrations/0008_tournament_winner_alter_match_tournament.py
  backend/tournament/models.py
  backend/tournament/serializers.py
  backend/tournament/urls.py
  backend/tournament/views.py
  frontend/app.js
  frontend/favicon.ico
  frontend/index.html
  frontend/public/images/trophy.jpeg
  frontend/server.js
  frontend/views/pages/Matches.js
  frontend/views/pages/Tournament.js
  frontend/views/pages/Winner.js
  frontend/views/styles/winner.css
  frontend/views/templates/Matches.html
  frontend/views/templates/Winner.html
Labels: frontend, backend, tournament

#162 [update] トーナメントが2周目以降できるように
  backend/tournament/tests.py
  backend/tournament/urls.py
  backend/tournament/views.py
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Matches.js
  frontend/views/pages/Tournament.js
Labels: backend, tournament
