Repository ft-transcendence-project/42-transcendence, pull requests merged in 2025-01, with the labels that each got.

#171 [update] 今までのbackendをaccountに名前を変更
  .github/workflows/docker-compose-web-prod-test.yml
  .github/workflows/docker-compose-web-test.yml
  account/.gitignore
  account/Dockerfile
  account/accounts/__init__.py
  account/accounts/admin.py
  account/accounts/apps.py
  account/accounts/migrations/0001_initial.py
  account/accounts/migrations/__init__.py
  account/accounts/models.py
  account/accounts/serializers.py
  account/accounts/tests.py
  account/accounts/urls.py
  account/accounts/utils/auth.py
  account/accounts/views.py
  account/core/__init__.py
  account/core/asgi.py
  account/core/settings.py
  account/core/urls.py
  account/core/views.py
  account/core/wsgi.py
  account/entrypoint.sh
  account/fixtures/users.json
  account/manage.py
  account/oauth/__init__.py
  account/oauth/admin.py
  account/oauth/apps.py
  account/oauth/migrations/__init__.py
  account/oauth/models.py
  account/oauth/tests.py
  account/oauth/urls.py
  account/oauth/views.py
  account/requirements.txt
  compose.prod.yaml
  compose.yaml
  frontend/server.js
  frontend/views/pages/Login.js
  frontend/views/pages/SetupOtp.js
  frontend/views/pages/SignUp.js
  frontend/views/pages/VerifyOtp.js
  nginx/default.conf
Labels: backend, microservices

#173 [update] 各サービスにLoggingを追加
  account/accounts/tests.py
  account/accounts/urls.py
  account/accounts/views.py
  account/core/settings.py
  account/oauth/views.py
  gameplay/core/settings.py
  gameplay/gamesetting/views.py
  gameplay/ponglogic/consumers.py
  tournament/core/settings.py
  tournament/tournament/views.py
Labels: backend

#181 [update] 追加ページの翻訳
  frontend/app.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/gameplay.json
  frontend/utils/locales/en/logout.json
  frontend/utils/locales/en/setupotp.json
  frontend/utils/locales/en/verifyotp.json
  frontend/utils/locales/en/winner.json
  frontend/utils/locales/ja/gameplay.json
  frontend/utils/locales/ja/logout.json
  frontend/utils/locales/ja/setupotp.json
  frontend/utils/locales/ja/verifyotp.json
  frontend/utils/locales/ja/winner.json
  frontend/utils/locales/zh/gameplay.json
  frontend/utils/locales/zh/logout.json
  frontend/utils/locales/zh/setupotp.json
  frontend/utils/locales/zh/verifyotp.json
  frontend/utils/locales/zh/winner.json
  frontend/views/components/Navbar.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Home.js
  frontend/views/pages/Login.js
  frontend/views/pages/SignUp.js
  frontend/views/pages/Tournament.js
  frontend/views/pages/Winner.js
  frontend/views/templates/Gameplay.html
  frontend/views/templates/Logout.html
  frontend/views/templates/SetupOtp.html
  frontend/views/templates/VerifyOtp.html
  frontend/views/templates/Winner.html
Labels: frontend, i18n

#182 [update] ponglogicリファクタリング
  backend-services/gameplay/ponglogic/consumers.py
  backend-services/gameplay/ponglogic/objects/__init__.py
  backend-services/gameplay/ponglogic/objects/components/__init__.py
  backend-services/gameplay/ponglogic/objects/components/ball.py
  backend-services/gameplay/ponglogic/objects/components/blind.py
  backend-services/gameplay/ponglogic/objects/components/game_window.py
  backend-services/gameplay/ponglogic/objects/components/obstacle.py
  backend-services/gameplay/ponglogic/objects/components/paddle.py
  backend-services/gameplay/ponglogic/objects/components/score.py
  backend-services/gameplay/ponglogic/objects/pong_info.py
  backend-services/gameplay/ponglogic/pong_info.py
  backend-services/gameplay/ponglogic/utils.py
Labels: backend, game

#189 [update] ポップアップの翻訳
  frontend/utils/locales/en/gameplay.json
  frontend/utils/locales/en/logout.json
  frontend/utils/locales/en/matches.json
  frontend/utils/locales/en/setupotp.json
  frontend/utils/locales/en/tournament.json
  frontend/utils/locales/en/verifyotp.json
  frontend/utils/locales/ja/gameplay.json
  frontend/utils/locales/ja/logout.json
  frontend/utils/locales/ja/matches.json
  frontend/utils/locales/ja/setupotp.json
  frontend/utils/locales/ja/tournament.json
  frontend/utils/locales/ja/verifyotp.json
  frontend/utils/locales/zh/gameplay.json
  frontend/utils/locales/zh/logout.json
  frontend/utils/locales/zh/matches.json
  frontend/utils/locales/zh/setupotp.json
  frontend/utils/locales/zh/tournament.json
  frontend/utils/locales/zh/verifyotp.json
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Logout.js
  frontend/views/pages/Matches.js
  frontend/views/pages/SetupOtp.js
  frontend/views/pages/Tournament.js
  frontend/views/pages/VerifyOtp.js
Labels: frontend

#185 [update] PongLogicのフロントとやり取りするJSONデータを変更
  backend-services/gameplay/ponglogic/consumers.py
  backend-services/gameplay/ponglogic/objects/components/ball.py
  backend-services/gameplay/ponglogic/objects/components/obstacle.py
  backend-services/gameplay/ponglogic/objects/components/paddle.py
  backend-services/gameplay/ponglogic/utils.py
  frontend/views/pages/Gameplay.js
Labels: frontend, backend, game

#157 [update] 本番環境でのCORS変更
  backend-services/account/accounts/views.py
  backend-services/account/core/settings.py
  backend-services/account/oauth/views.py
  backend-services/gameplay/core/settings.py
  backend-services/tournament/core/settings.py
  frontend/views/pages/Login.js
  nginx/default.conf
Labels: backend, settings

#187 [add] CLIからPongを操作するプログラム
  frontend/views/pages/Gameplay.js
  frontend/views/templates/Gameplay.html
  tools/cli_pong_client/README.md
  tools/cli_pong_client/requirements.txt
  tools/cli_pong_client/srcs/cli_pong_client.py
  tools/cli_pong_client/srcs/utils.py
Labels: backend, game

#193 [fix] 校舎環境用にDockerの設定を変更
  blockchain/blockchain.yml
  compose.prod.yaml
  compose.yaml
  db/Dockerfile
  db/init.sql
  elk/elk-services.yml
  elk/logstash/Dockerfile
  elk/logstash/create_index_pattern.sh
  elk/logstash/logstash.conf
  elk/setup/Dockerfile
  elk/setup/setup_elk.sh
  frontend/Dockerfile
  package-lock.json
Labels: settings

#212 [refactor] accountサービスのリファクタリング
  backend-services/account/accounts/tests.py
  backend-services/account/accounts/utils/auth.py
  backend-services/account/accounts/views.py
  backend-services/account/core/settings.py
Labels: backend, accounts

#199 [update] デフォルト言語をユーザーごとに管理するように
  backend-services/account/accounts/migrations/0002_customuser_default_language.py
  backend-services/account/accounts/models.py
  backend-services/account/accounts/serializers.py
  backend-services/account/accounts/views.py
  frontend/utils/i18n.js
  frontend/utils/locales/en/signup.json
  frontend/utils/locales/ja/signup.json
  frontend/utils/locales/zh/signup.json
  frontend/views/pages/Login.js
  frontend/views/pages/Logout.js
  frontend/views/pages/SignUp.js
  frontend/views/templates/SignUp.html
Labels: frontend, backend, DB, i18n

#206 [update] CLIプログラムからゲームを作成できるように
  frontend/app.js
  frontend/views/pages/GameSetting.js
  tools/.gitignore
  tools/cli_pong_client/requirements.txt
  tools/cli_pong_client/srcs/cli_pong_client.py
Labels: tools

#218 [add] footerの追加
  frontend/server.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/footer.json
  frontend/utils/locales/ja/footer.json
  frontend/utils/locales/zh/footer.json
  frontend/views/styles/index.css
  frontend/views/templates/Footer.html
  frontend/views/templates/index.html
Labels: frontend, i18n

#209 [update] CLIプログラムからログインできるように
  tools/cli_pong_client/srcs/cli_pong_client.py
Labels: tools

#213 [update] gameplayのconsumers.pyのリファクタリング
  backend-services/gameplay/gamesetting/admin.py
  backend-services/gameplay/gamesetting/serializers.py
  backend-services/gameplay/ponglogic/consumers.py
  backend-services/gameplay/ponglogic/objects/components/ball.py
Labels: backend

#223 [inspect] XSS対策しました
  frontend/app.js
  frontend/utils/i18n.js
  frontend/views/styles/game.css
  frontend/views/styles/login.css
  frontend/views/styles/setupotp.css
  frontend/views/styles/tournament.css
  frontend/views/templates/GameSetting.html
  frontend/views/templates/Gameplay.html
  frontend/views/templates/Login.html
  frontend/views/templates/SetupOtp.html
  frontend/views/templates/Tournament.html
  frontend/views/templates/index.html
  nginx/default.conf
Labels: security

#226 [add] AlreadySetupOtp.htmlに対する翻訳を追加
  frontend/app.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/alreadysetupotp.json
  frontend/utils/locales/ja/alreadysetupotp.json
  frontend/utils/locales/zh/alreadysetupotp.json
  frontend/views/templates/AlreadySetupOtp.html
Labels: i18n

#215 [fix] Cookieの管理をバックエンドのみがするように
  backend-services/account/accounts/serializers.py
  backend-services/account/accounts/tests.py
  backend-services/account/accounts/urls.py
  backend-services/account/accounts/utils/auth.py
  backend-services/account/accounts/views.py
  backend-services/account/core/settings.py
  backend-services/account/oauth/tests.py
  backend-services/account/oauth/views.py
  backend-services/gameplay/core/settings.py
  backend-services/tournament/core/settings.py
  frontend/app.js
  frontend/views/pages/Login.js
  frontend/views/pages/Logout.js
  frontend/views/pages/SetupOtp.js
  frontend/views/pages/SignUp.js
  frontend/views/pages/VerifyOtp.js
Labels: frontend, backend, accounts

#202 試合データをブロックチェーンに保存
  .github/workflows/dev-build-test.yml
  .gitignore
  backend-services/tournament/blockchain/truffle/contract_address.json
  backend-services/tournament/requirements.txt
  backend-services/tournament/tournament/tests.py
  backend-services/tournament/tournament/urls.py
  backend-services/tournament/tournament/views.py
  backend-services/tournament/tournament/web3_ganache_connect.py
  blockchain/__init__.py
  blockchain/blockchain.yml
  blockchain/truffle/Dockerfile
  blockchain/truffle/contracts/Tournament.sol
  blockchain/truffle/migrations/1_initial_migration.js
  blockchain/truffle/migrations/2_deploy_tournament.js
  blockchain/truffle/test/Tournament.test.js
  blockchain/web3_ganache_connect.py
  compose.prod.yaml
  compose.yaml
Labels: blockchain

#229 [fix] app.jsのルーティングのエラーを修正
  frontend/app.js
Labels: bug, game

#230 [update] APIエンドポイントのurlからapiの文字を削除
  backend-services/account/accounts/urls.py
  backend-services/account/oauth/views.py
  backend-services/gameplay/gamesetting/urls.py
  backend-services/tournament/tournament/urls.py
  frontend/views/pages/GameSetting.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Login.js
  frontend/views/pages/Logout.js
  frontend/views/pages/Matches.js
  frontend/views/pages/SetupOtp.js
  frontend/views/pages/SignUp.js
  frontend/views/pages/Tournament.js
  frontend/views/pages/VerifyOtp.js
  tools/cli_pong_client/srcs/cli_pong_client.py
Labels: frontend, backend

#231 [fix] cookieからjwtを取得するように
  tools/cli_pong_client/srcs/cli_pong_client.py
Labels: tools

#221 [update] frontendのリファクタリング
  compose.yaml
  frontend/app.js
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/fetchHtml.js
  frontend/utils/fetchWithHandling.js
  frontend/utils/i18n.js
  frontend/utils/locales/en/common.json
  frontend/utils/locales/ja/common.json
  frontend/utils/locales/zh/common.json
  frontend/views/pages/GameSetting.js
  frontend/views/pages/Gameplay.js
  frontend/views/pages/Home.js
  frontend/views/pages/Login.js
  frontend/views/pages/Logout.js
  frontend/views/pages/Matches.js
  frontend/views/pages/SetupOtp.js
  frontend/views/pages/SignUp.js
  frontend/views/pages/Tournament.js
  frontend/views/pages/VerifyOtp.js
  frontend/views/pages/Winner.js
Labels: frontend

#234 [fix] トーナメント終了時にトーナメント関連のデータを消すように
  frontend/views/pages/Matches.js
Labels: bug, frontend

#236 [fix] トーナメントでのゲーム時のポップアップのエラーを修正
  frontend/views/pages/Gameplay.js
Labels: bug, frontend
